body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 150px;
}

.resume-container {
    display: flex;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}

.left-section {
    background-color: black;
    color: white;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid rgba(0, 0, 255, 0.404);
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 255, 0.404);
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}

#objective p{
    color: white
}

#objective h2{
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: white;
    box-shadow: 0 0 15px  rgba(0, 0, 255, 0.404);
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.404);
    margin-top: 5%;
    margin-bottom: 5%;

}

#personal-info{
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.404);
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
}

#education h3{
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.404);
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
}

#skills h3{
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.404);
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
}

#objective p{
    text-align: justify;
    hyphens: auto;
}

ul{
    list-style-type: fill round;
    padding: 10px;
    margin: 10px 0;
}

ul li{
   margin: 5px 0;
}

.right-section{
    padding: 20px;
    width: 65%;
}

button{
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.404);
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover{
    background-color: rgba(0, 0, 255, 0.164);
}




